
.btn-primary {
  margin: 10px 20px 10px 20px;
}

.control-label {
  margin: 10px 20px 10px 20px;
  width: 90% !important;
}

.form-control {
  margin: 10px 20px 10px 20px;
  width: 90% !important;
}

.alert-info {
  text-align: center;
}

form {
  margin: 20px auto;
  width:50%;
  border: 1px solid #D3D3D3;
}

